/*body*/
    .body{
        padding: 2em 0 0 0;
        margin: 0 auto;
    }


/*Div Widths*/

    div.fortune-wrapper, div.generate, form.create-fortune{
        width:24%;
        margin: 0 auto;
    }


/*header*/

    header{
        text-align: center;
    }


/*Fortune Cookie*/
    div.fortune-wrapper{
        position: static;
        height: 300px;
    }

        div.fortune{
            position: relative;
            height:300px;
        }

        div.fortune div{
            position: absolute;
        }

            .cookie{
                z-index: 2;
            }
                /*img.cookie-pic{
                    width:100%;
                }*/

             div#scroll{
                background: whitesmoke;
                margin: 100px 0;
                width:300px;
                text-align: center;
            }

                #scroll p{
                    padding: 1em 3em;
                }


    /*Open and close fortune*/
        /*.open{
            width:75%;
        }

        .closed{
            width: 95%;
        }*/
            #cookie-left.open{
                left: -300px;    
            }

            #cookie-right.open{
                left: 300px;
            }

            #cookie-left.closed{
                left: -150px;
                /*left: 50%; /*responsive*/
            }

            #cookie-right.closed{
                left: 150px;
                /*left: 50%; /*responsive*/
            }



/*Generate Button*/

    div.generate{
        display: block;
        clear: both;
    }


/*fieldset*/

    form.create-fortune{
        text-align: center;  
    }

