/*Font Import*/





/*///////Decorative///////////*/

/*Fortune*/

/*Scrolls*/
body{    
    background-color: #72af9b;
    background: url('../img/smooth_wall.png');
}

    .wrapper{
        background: #72af9b;
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNzJhZjliIiBzdG9wLW9wYWNpdHk9IjAuODEiLz4KICAgIDxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiM3MmFmOWIiIHN0b3Atb3BhY2l0eT0iMC44MSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1NCUiIHN0b3AtY29sb3I9IiNjYWVlZWEiIHN0b3Atb3BhY2l0eT0iMC41NyIvPgogICAgPHN0b3Agb2Zmc2V0PSI2OCUiIHN0b3AtY29sb3I9IiNlMWZmZmYiIHN0b3Atb3BhY2l0eT0iMC42NyIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmRmZmZmIiBzdG9wLW9wYWNpdHk9IjAuODkiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
        background: -moz-linear-gradient(45deg,  rgba(114,175,155,0.81) 0%, rgba(114,175,155,0.81) 1%, rgba(202,238,234,0.57) 54%, rgba(225,255,255,0.67) 68%, rgba(253,255,255,0.89) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(114,175,155,0.81)), color-stop(1%,rgba(114,175,155,0.81)), color-stop(54%,rgba(202,238,234,0.57)), color-stop(68%,rgba(225,255,255,0.67)), color-stop(100%,rgba(253,255,255,0.89))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(45deg,  rgba(114,175,155,0.81) 0%,rgba(114,175,155,0.81) 1%,rgba(202,238,234,0.57) 54%,rgba(225,255,255,0.67) 68%,rgba(253,255,255,0.89) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(45deg,  rgba(114,175,155,0.81) 0%,rgba(114,175,155,0.81) 1%,rgba(202,238,234,0.57) 54%,rgba(225,255,255,0.67) 68%,rgba(253,255,255,0.89) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(45deg,  rgba(114,175,155,0.81) 0%,rgba(114,175,155,0.81) 1%,rgba(202,238,234,0.57) 54%,rgba(225,255,255,0.67) 68%,rgba(253,255,255,0.89) 100%); /* IE10+ */
        background: linear-gradient(45deg,  rgba(114,175,155,0.81) 0%,rgba(114,175,155,0.81) 1%,rgba(202,238,234,0.57) 54%,rgba(225,255,255,0.67) 68%,rgba(253,255,255,0.89) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf72af9b', endColorstr='#e3fdffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
        padding: 20px 0 0 0;
    }

        #scroll{
            background: whitesmoke;
            background: url('../img/exclusive_paper.png');
            border-bottom: solid 3px rgba(165, 163, 172, 0.66);
            border-top: solid 3px rgba(165,163,172,0.4);
        }

/*///////Layout//////////*/

/*body*/
    body{
        margin: 0 auto;
    }


/*Div Widths*/

    .fortune-wrapper, div.generate{
        width:24%;
        margin: 0 auto;
    }
    form.create-fortune{
        width: 100%; 
    }

/*header*/

    header{
        text-align: center;
        margin: 0 auto;
    }


/*Fortune Cookie*/
    div.fortune-wrapper{
        position: static;
        height: 300px;
    }

        div.fortune{
            position: relative;
            height:300px;
        }

        div.fortune div{
            position: absolute;
        }

            .cookie{
                z-index: 2;
            }
                img.cookie-pic{
                    width:100%;
                }

             div#scroll{
                margin: 45px 0 140px;
                width:300px;
                text-align: center;
                display:none;
            }

                #scroll p{
                    padding: 0.25em 2.55em;
                    display:none;
                }


    /*Open and close fortune*/
        /*.open{
            width:75%;
        }

        .closed{
            width: 95%;
        }*/
            #cookie-left.open{
                width: 329px;
                left: -300px;   
            }

            #cookie-right.open{
                width: 329px;
                left: 300px;
            }

            #cookie-left.closed{
                width: 300px;
                left: -150px;
                /*left: 50%; /*responsive*/
            }

            #cookie-right.closed{
                width: 300px;
                left: 150px;
                /*left: 50%; /*responsive*/
            }



/*Generate Button*/

    div.generate{
        display: block;
        clear: both;
        margin:0 auto;
        text-align: center;
        /*background information*/
        background: rgb(255,168,76); /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMTglIiBzdG9wLWNvbG9yPSIjZmZhODRjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmN2IwZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
        background: -moz-radial-gradient(center, ellipse cover,  rgba(255,168,76,1) 18%, rgba(255,123,13,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(18%,rgba(255,168,76,1)), color-stop(100%,rgba(255,123,13,1))); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,168,76,1) 18%,rgba(255,123,13,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  rgba(255,168,76,1) 18%,rgba(255,123,13,1) 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  rgba(255,168,76,1) 18%,rgba(255,123,13,1) 100%); /* IE10+ */
        background: radial-gradient(ellipse at center,  rgba(255,168,76,1) 18%,rgba(255,123,13,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
        color: black;

    }


/*fieldset*/

    .form-fortune{
        background: #444;
        width:100%;
        padding: 1px 0 0 0;
        margin-top: 7em;
        text-align: center;
    }

        form.create-fortune{
            background: rgb(209, 209, 209);
            width: 100%;
            padding: 1px 0;  
            margin: 0 auto;
            margin-top: 2em;
            text-align: center;
        }

            .create-fortune fieldset{
                background: rgba(247, 247, 247, 1);
                width: 50%;
                padding: 35px 0;
                margin: 0 auto;
                margin-top: -113px;
                text-align: center;
                height: 200px;
                border: solid 1px black;
            }

                .create-fortune textarea#new-fortune{
                    display: block;
                    padding: 2.5em 10em;
                    margin:2% auto;
                    text-align: left;
                }

                .create-fortune input#share{
                    display:inline-block;
                    background: rgb(201,222,150); /* Old browsers */
                    background: -moz-linear-gradient(top,  rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,222,150,1)), color-stop(44%,rgba(138,182,107,1)), color-stop(100%,rgba(57,130,53,1))); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* IE10+ */
                    background: linear-gradient(to bottom,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */                                        
                    width:200px; 
                    height:50px;
                    padding:6px 0 0 2px;
                    border:2px blue;
                    margin: 0 0 2em 0;
                    color:white;
                    font-size:1.33em;
                    cursor:pointer;
                }
                
                .create-fortune input#share.submit-disabled {
                    display:inline-block;
                    background: rgb(201,222,150); /* Old browsers */
                    background: -moz-linear-gradient(top,  rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,222,150,1)), color-stop(44%,rgba(138,182,107,1)), color-stop(100%,rgba(57,130,53,1))); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* IE10+ */
                    background: linear-gradient(to bottom,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */                                        
                    width:200px; 
                    height:50px;
                    padding:6px 0 0 2px;
                    border:2px blue;
                    margin: 0 0 2em 0;
                    color:black;
                    font-size:1.33em;
                    cursor:not-allowed;
                }
